[submodule "modules/SDL"]
	path = src/yg_engine/modules/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "modules/glm"]
	path = src/yg_engine/modules/glm
	url = https://github.com/g-truc/glm
[submodule "modules/imgui"]
	path = src/yg_engine/modules/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/yg_engine/modules/Catch2"]
	path = src/yg_engine/modules/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "src/yg_engine/modules/tracy"]
	path = src/yg_engine/modules/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "src/yg_engine/modules/spdlog"]
	path = src/yg_engine/modules/spdlog
	url = git@github.com:gabime/spdlog.git
